.image-upload{
    position: relative;
    height: 10rem;
    width:10rem;
    padding: 8px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    color: #00000073;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    background: 0 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color .3s;
    &-x{
        display: block;
        width: 56px;
        height: 56px;
        font-size: 16px;
        font-style: normal;
        line-height: 56px;
        text-align: center;
        text-transform: none;
        text-rendering: auto;
    }
}
.modal-title{
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.image-upload{
    width: 104px;
    height: 104px;
    margin-right: 8px;
    margin-bottom: 8px;
    text-align: center;
    vertical-align: top;
    background-color: #fafafa;
    border: 1px dashed #d9d9d9;
    border-radius: 2px;
    cursor: pointer;
    transition: border-color .3s;
    width: 128px;
    height: 128px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000d9;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    outline: 0;
    &::before{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #00000080;
        opacity: 0;
        transition: all .3s;
        content: " ";
    }
}
.image-icon{
    z-index: 10;
    padding: 0;
    color: #00000073;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    background: 0 0;
    outline: 0;
    cursor: pointer;
    transition: color .3s;
    &-span{
        display: block;
        width: 3rem;
        height: 3rem;
        font-size: 16px;
        font-style: normal;
        line-height: 3rem;
        text-align: center;
        text-transform: none;
        text-rendering: auto;
    }
}
.hidden{
    display: none;
}